@import "tailwindcss";

:root {
  --gold: #B8965A;
  --gold-dk: #8C6E38;
  --ink: #1C1008;
  --ink-mid: #4A3728;
  --ink-soft: #7A6555;
  --off-white: #F9F6F1;
  --light: #F2EDE4;
  --bordeaux: #6B1A1A;
  --blush: #C9897E;
}

body {
  background-color: var(--ink);
  color: var(--off-white);
  font-family: var(--font-lato), sans-serif;
}
